@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-yellow-primary-light: #fff3e3;
  --color-yellow-primary: #b88e2f;
  --color-primary: #333333;
  --color-secondary: #666666;
  --color-card: #f4f5f7;
  --color-gray-1: #3a3a3a;
  --color-gray-2: #616161;
  --color-gray-3: #898989;
  --color-gray-4: #b0b0b0;
  --color-gray-5: #d8d8d8;
  --color-footer-gray: #9f9f9f;
  --color-footer: #d9d9d9;
  --color-red-discount: #e97171;
  --color-green-new: #2ec1ac;
  --color-inspiration: #fcf8f3;

  --animate-mosaic: mosaic 20s linear infinite;

  @keyframes mosaic {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

body {
  font-family: var(--font-poppins);
  color: var(--color-primary);
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
}
